// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Rulebricks from "../../../index.js";

export declare namespace DecisionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Query highly detailed logs of prior rule executions within the last 90 days
 */
export class DecisionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DecisionsClient.Options>;

    constructor(options: DecisionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Query decision logs with support for the decision data query language, rule/status filters, date ranges, and pagination. The query language supports field comparisons (e.g., `alpha=0`, `score>10`), contains/not-contains (e.g., `name:John`, `status!:error`), boolean logic (`AND`, `OR`), and parentheses for grouping.
     *
     * @param {Rulebricks.QueryDecisionsRequest} request
     * @param {DecisionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.BadRequestError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.decisions.query({
     *         search: "status=200",
     *         rules: "Lead Qualification,Pricing Calculator",
     *         statuses: "200,400,500"
     *     })
     */
    public query(
        request: Rulebricks.QueryDecisionsRequest = {},
        requestOptions?: DecisionsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.DecisionLogResponse> {
        return core.HttpResponsePromise.fromPromise(this.__query(request, requestOptions));
    }

    private async __query(
        request: Rulebricks.QueryDecisionsRequest = {},
        requestOptions?: DecisionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.DecisionLogResponse>> {
        const { search, rules, statuses, start, end, cursor, limit, count, slug } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (search != null) {
            _queryParams.search = search;
        }

        if (rules != null) {
            _queryParams.rules = rules;
        }

        if (statuses != null) {
            _queryParams.statuses = statuses;
        }

        if (start != null) {
            _queryParams.start = start;
        }

        if (end != null) {
            _queryParams.end = end;
        }

        if (cursor != null) {
            _queryParams.cursor = cursor;
        }

        if (limit != null) {
            _queryParams.limit = limit.toString();
        }

        if (count != null) {
            _queryParams.count = count;
        }

        if (slug != null) {
            _queryParams.slug = slug;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                "decisions/query",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.DecisionLogResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Rulebricks.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/decisions/query");
    }
}
