// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Rulebricks from "../../../../../index.js";

export declare namespace RelationshipsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RelationshipsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RelationshipsClient.Options>;

    constructor(options: RelationshipsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all relationships for a specific context.
     *
     * @param {Rulebricks.contexts.ListRelationshipsRequest} request
     * @param {RelationshipsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.relationships.list({
     *         id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
     *     })
     */
    public list(
        request: Rulebricks.contexts.ListRelationshipsRequest,
        requestOptions?: RelationshipsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.ContextRelationshipsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Rulebricks.contexts.ListRelationshipsRequest,
        requestOptions?: RelationshipsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.ContextRelationshipsResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `admin/contexts/${core.url.encodePathParam(id)}/relationships`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Rulebricks.ContextRelationshipsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Rulebricks.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/admin/contexts/{id}/relationships",
        );
    }

    /**
     * Create a new relationship between two contexts.
     *
     * @param {Rulebricks.contexts.CreateRelationshipRequest} request
     * @param {RelationshipsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.BadRequestError}
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.relationships.create({
     *         id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
     *         targetContextId: "b2c3d4e5-f6a7-8901-bcde-f12345678901",
     *         type: "one-to-many",
     *         foreignKey: "customer_id",
     *         name: "Customer Orders"
     *     })
     */
    public create(
        request: Rulebricks.contexts.CreateRelationshipRequest,
        requestOptions?: RelationshipsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.CreateRelationshipResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Rulebricks.contexts.CreateRelationshipRequest,
        requestOptions?: RelationshipsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.CreateRelationshipResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `admin/contexts/${core.url.encodePathParam(id)}/relationships`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Rulebricks.CreateRelationshipResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Rulebricks.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Rulebricks.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/admin/contexts/{id}/relationships",
        );
    }

    /**
     * Delete a specific relationship between contexts.
     *
     * @param {Rulebricks.contexts.DeleteRelationshipsRequest} request
     * @param {RelationshipsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.relationships.delete({
     *         id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
     *         relationship: "c3d4e5f6-a7b8-9012-cdef-123456789012"
     *     })
     */
    public delete(
        request: Rulebricks.contexts.DeleteRelationshipsRequest,
        requestOptions?: RelationshipsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.DeleteRelationshipResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Rulebricks.contexts.DeleteRelationshipsRequest,
        requestOptions?: RelationshipsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.DeleteRelationshipResponse>> {
        const { id, relationship } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `admin/contexts/${core.url.encodePathParam(id)}/relationships/${core.url.encodePathParam(relationship)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Rulebricks.DeleteRelationshipResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Rulebricks.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/admin/contexts/{id}/relationships/{relationship}",
        );
    }
}
