// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Rulebricks from "../../../../../index.js";

export declare namespace RulesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RulesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RulesClient.Options>;

    constructor(options: RulesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Delete a specific rule by its ID.
     *
     * @param {Rulebricks.assets.DeleteRuleRequest} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.BadRequestError}
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.assets.rules.delete({
     *         id: "2855f8da-2654-4df9-8903-8f797cbfe8eb"
     *     })
     */
    public delete(
        request: Rulebricks.assets.DeleteRuleRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.SuccessMessage> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Rulebricks.assets.DeleteRuleRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.SuccessMessage>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                "admin/rules/delete",
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.SuccessMessage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Rulebricks.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Rulebricks.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/admin/rules/delete");
    }

    /**
     * Export a specific rule by its ID.
     *
     * @param {Rulebricks.assets.PullRulesRequest} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.BadRequestError}
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.assets.rules.pull({
     *         id: "2855f8da-2654-4df9-8903-8f797cbfe8eb"
     *     })
     */
    public pull(
        request: Rulebricks.assets.PullRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.RuleExport> {
        return core.HttpResponsePromise.fromPromise(this.__pull(request, requestOptions));
    }

    private async __pull(
        request: Rulebricks.assets.PullRulesRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.RuleExport>> {
        const { id } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams.id = id;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                "admin/rules/export",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.RuleExport, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Rulebricks.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Rulebricks.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/admin/rules/export");
    }

    /**
     * Import or update a rule. Existing rule IDs support partial updates; new rule IDs require a full rule payload.
     *
     * @param {Rulebricks.assets.ImportRuleRequest} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.BadRequestError}
     * @throws {@link Rulebricks.ForbiddenError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.assets.rules.push({
     *         rule: {
     *             id: "11111111-2222-4333-8444-555555555555",
     *             slug: "basic-pricing-rule",
     *             name: "Basic Pricing Rule",
     *             description: "",
     *             createdAt: "2026-02-12T01:29:23.000Z",
     *             updatedAt: "2026-02-12T01:29:23.000Z",
     *             published: false,
     *             _publish: true,
     *             testRequest: {
     *                 "customer_tier": "STANDARD",
     *                 "order_total": 250,
     *                 "expedited": false
     *             },
     *             sampleRequest: {
     *                 "customer_tier": "STANDARD",
     *                 "order_total": 250,
     *                 "expedited": false
     *             },
     *             sampleResponse: {
     *                 "discount_rate": 0,
     *                 "approval_status": "standard"
     *             },
     *             requestSchema: [{
     *                     key: "customer_tier",
     *                     show: true,
     *                     name: "Customer Tier",
     *                     type: "string"
     *                 }, {
     *                     key: "order_total",
     *                     show: true,
     *                     name: "Order Total",
     *                     type: "number"
     *                 }, {
     *                     key: "expedited",
     *                     show: true,
     *                     name: "Expedited",
     *                     type: "boolean"
     *                 }],
     *             responseSchema: [{
     *                     key: "discount_rate",
     *                     show: true,
     *                     name: "Discount Rate",
     *                     type: "number"
     *                 }, {
     *                     key: "approval_status",
     *                     show: true,
     *                     name: "Approval Status",
     *                     type: "string"
     *                 }],
     *             conditions: [{
     *                     request: {
     *                         "customer_tier": {
     *                             op: "equals",
     *                             args: ["VIP"]
     *                         }
     *                     },
     *                     response: {
     *                         "discount_rate": {
     *                             value: 0.2
     *                         },
     *                         "approval_status": {
     *                             value: "priority"
     *                         }
     *                     },
     *                     settings: {
     *                         enabled: true,
     *                         groupId: null,
     *                         priority: 0,
     *                         schedule: []
     *                     }
     *                 }, {
     *                     request: {
     *                         "expedited": {
     *                             op: "equals",
     *                             args: [true]
     *                         }
     *                     },
     *                     response: {
     *                         "discount_rate": {
     *                             value: 0.05
     *                         },
     *                         "approval_status": {
     *                             value: "expedited"
     *                         }
     *                     },
     *                     settings: {
     *                         enabled: true,
     *                         groupId: null,
     *                         priority: 1,
     *                         schedule: []
     *                     }
     *                 }, {
     *                     request: {},
     *                     response: {
     *                         "discount_rate": {
     *                             value: 0
     *                         },
     *                         "approval_status": {
     *                             value: "standard"
     *                         }
     *                     },
     *                     settings: {
     *                         enabled: true,
     *                         groupId: null,
     *                         priority: 2,
     *                         schedule: []
     *                     }
     *                 }],
     *             history: []
     *         }
     *     })
     *
     * @example
     *     await client.assets.rules.push({
     *         rule: {
     *             id: "11111111-2222-4333-8444-555555555555",
     *             name: "Updated Rule Name"
     *         }
     *     })
     */
    public push(
        request: Rulebricks.assets.ImportRuleRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.RuleExport> {
        return core.HttpResponsePromise.fromPromise(this.__push(request, requestOptions));
    }

    private async __push(
        request: Rulebricks.assets.ImportRuleRequest,
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.RuleExport>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                "admin/rules/import",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.RuleExport, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Rulebricks.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Rulebricks.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/admin/rules/import");
    }

    /**
     * List all rules in the organization. Optionally filter by folder name or ID.
     *
     * @param {Rulebricks.assets.ListRulesRequest} request
     * @param {RulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.BadRequestError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.assets.rules.list({
     *         folder: "Marketing Rules"
     *     })
     */
    public list(
        request: Rulebricks.assets.ListRulesRequest = {},
        requestOptions?: RulesClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.RuleListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Rulebricks.assets.ListRulesRequest = {},
        requestOptions?: RulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.RuleListResponse>> {
        const { folder } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (folder != null) {
            _queryParams.folder = folder;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                "admin/rules/list",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.RuleListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Rulebricks.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/admin/rules/list");
    }
}
