// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Rulebricks from "../../../index.js";
import { ObjectsClient } from "../resources/objects/client/Client.js";
import { RelationshipsClient } from "../resources/relationships/client/Client.js";

export declare namespace ContextsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Operations for managing and interacting with live Context instances
 */
export class ContextsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ContextsClient.Options>;
    protected _objects: ObjectsClient | undefined;
    protected _relationships: RelationshipsClient | undefined;

    constructor(options: ContextsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get objects(): ObjectsClient {
        return (this._objects ??= new ObjectsClient(this._options));
    }

    public get relationships(): RelationshipsClient {
        return (this._relationships ??= new RelationshipsClient(this._options));
    }

    /**
     * Retrieve the current state of a context instance.
     *
     * @param {Rulebricks.GetContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.get({
     *         slug: "customer",
     *         instance: "cust-12345"
     *     })
     */
    public get(
        request: Rulebricks.GetContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.ContextInstanceState> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Rulebricks.GetContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.ContextInstanceState>> {
        const { slug, instance, include_relations: includeRelations } = request;
        const _queryParams: Record<string, unknown> = {
            include_relations: includeRelations,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/${core.url.encodePathParam(slug)}/${core.url.encodePathParam(instance)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.ContextInstanceState, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Rulebricks.NotFoundError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Rulebricks.InternalServerError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/contexts/{slug}/{instance}");
    }

    /**
     * Submit data to a context instance, creating it if it doesn't exist. May trigger bound rule/flow evaluations.
     *
     * @param {Rulebricks.SubmitContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.BadRequestError}
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.submit({
     *         slug: "customer",
     *         instance: "cust-12345",
     *         body: {
     *             "email": "customer@example.com",
     *             "age": 30
     *         }
     *     })
     */
    public submit(
        request: Rulebricks.SubmitContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.SubmitContextDataResponse> {
        return core.HttpResponsePromise.fromPromise(this.__submit(request, requestOptions));
    }

    private async __submit(
        request: Rulebricks.SubmitContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.SubmitContextDataResponse>> {
        const { slug, instance, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/${core.url.encodePathParam(slug)}/${core.url.encodePathParam(instance)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.SubmitContextDataResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Rulebricks.BadRequestError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Rulebricks.NotFoundError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Rulebricks.InternalServerError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/contexts/{slug}/{instance}");
    }

    /**
     * Delete a specific context instance and its history.
     *
     * @param {Rulebricks.DeleteContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.delete({
     *         slug: "customer",
     *         instance: "cust-12345"
     *     })
     */
    public delete(
        request: Rulebricks.DeleteContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.DeleteContextInstanceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Rulebricks.DeleteContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.DeleteContextInstanceResponse>> {
        const { slug, instance } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/${core.url.encodePathParam(slug)}/${core.url.encodePathParam(instance)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Rulebricks.DeleteContextInstanceResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Rulebricks.NotFoundError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Rulebricks.InternalServerError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/contexts/{slug}/{instance}",
        );
    }

    /**
     * Retrieve the change history for a context instance.
     *
     * @param {Rulebricks.GetHistoryContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.getHistory({
     *         slug: "customer",
     *         instance: "cust-12345"
     *     })
     */
    public getHistory(
        request: Rulebricks.GetHistoryContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.ContextInstanceHistory> {
        return core.HttpResponsePromise.fromPromise(this.__getHistory(request, requestOptions));
    }

    private async __getHistory(
        request: Rulebricks.GetHistoryContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.ContextInstanceHistory>> {
        const { slug, instance, field, limit } = request;
        const _queryParams: Record<string, unknown> = {
            field,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/${core.url.encodePathParam(slug)}/${core.url.encodePathParam(instance)}/history`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.ContextInstanceHistory, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Rulebricks.NotFoundError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Rulebricks.InternalServerError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/contexts/{slug}/{instance}/history",
        );
    }

    /**
     * Get list of rules/flows that need to be evaluated for this instance.
     *
     * @param {Rulebricks.GetPendingContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.getPending({
     *         slug: "customer",
     *         instance: "cust-12345"
     *     })
     */
    public getPending(
        request: Rulebricks.GetPendingContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.ContextInstancePendingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getPending(request, requestOptions));
    }

    private async __getPending(
        request: Rulebricks.GetPendingContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.ContextInstancePendingResponse>> {
        const { slug, instance } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/${core.url.encodePathParam(slug)}/${core.url.encodePathParam(instance)}/pending`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Rulebricks.ContextInstancePendingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Rulebricks.NotFoundError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Rulebricks.InternalServerError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/contexts/{slug}/{instance}/pending",
        );
    }

    /**
     * Re-evaluate registered pending rule and flow executions for this instance after their fact or relationship dependencies may have become available. This does not run every bound asset.
     *
     * @param {Rulebricks.CascadeContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.cascade({
     *         slug: "customer",
     *         instance: "cust-12345",
     *         body: {}
     *     })
     */
    public cascade(
        request: Rulebricks.CascadeContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.CascadeContextResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cascade(request, requestOptions));
    }

    private async __cascade(
        request: Rulebricks.CascadeContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.CascadeContextResponse>> {
        const { slug, instance, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/${core.url.encodePathParam(slug)}/${core.url.encodePathParam(instance)}/cascade`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.CascadeContextResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Rulebricks.NotFoundError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Rulebricks.InternalServerError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/contexts/{slug}/{instance}/cascade",
        );
    }

    /**
     * Submit an array of records to any context in one synchronous call. Records merge into their context instances (matched by the context's identity fact), bound rules and flows whose inputs became satisfied execute, and the response returns the resolved state of every touched instance. Retries are always safe: merges are idempotent and executions are deduplicated by input hash. Fact history is recorded for tracked facts exactly as on individual writes. Clients chunk large datasets across requests. On the cloud platform, a batch may not exceed the plan's remaining monthly rule executions (402 above it) or a 4.5MB request body, and executed rules count toward plan usage. Private (self-hosted) deployments run batches through the high-performance server with no plan gating, a 10,000-records-per-request default cap (CONTEXT_BATCH_MAX_ITEMS), and NDJSON support (Content-Type: application/x-ndjson).
     *
     * @param {Rulebricks.BulkIngestContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.BadRequestError}
     * @throws {@link Rulebricks.PaymentRequiredError}
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.ContentTooLargeError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.bulkIngest({
     *         slug: "loan-application",
     *         body: [{
     *                 "loan_id": "APP-1",
     *                 "amount": 12000
     *             }, {
     *                 "loan_id": "APP-2",
     *                 "amount": 7300
     *             }]
     *     })
     */
    public bulkIngest(
        request: Rulebricks.BulkIngestContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.ContextBatchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkIngest(request, requestOptions));
    }

    private async __bulkIngest(
        request: Rulebricks.BulkIngestContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.ContextBatchResponse>> {
        const { slug, include, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            include,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/batch/${core.url.encodePathParam(slug)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.ContextBatchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Rulebricks.BadRequestError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                case 402:
                    throw new Rulebricks.PaymentRequiredError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Rulebricks.NotFoundError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                case 413:
                    throw new Rulebricks.ContentTooLargeError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Rulebricks.InternalServerError(
                        _response.error.body as Rulebricks.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/contexts/batch/{slug}");
    }
}
