// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Rulebricks from "../../../index.js";
import { AdminClient } from "../resources/admin/client/Client.js";
import { RelationshipsClient } from "../resources/relationships/client/Client.js";

export declare namespace ContextsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Operations for managing and interacting with Contexts (Entities) and their instances
 */
export class ContextsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ContextsClient.Options>;
    protected _admin: AdminClient | undefined;
    protected _relationships: RelationshipsClient | undefined;

    constructor(options: ContextsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get admin(): AdminClient {
        return (this._admin ??= new AdminClient(this._options));
    }

    public get relationships(): RelationshipsClient {
        return (this._relationships ??= new RelationshipsClient(this._options));
    }

    /**
     * Retrieve the current state of a context instance.
     *
     * @param {Rulebricks.GetInstanceContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.getInstance({
     *         slug: "customer",
     *         instance: "cust-12345"
     *     })
     */
    public getInstance(
        request: Rulebricks.GetInstanceContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.ContextInstanceState> {
        return core.HttpResponsePromise.fromPromise(this.__getInstance(request, requestOptions));
    }

    private async __getInstance(
        request: Rulebricks.GetInstanceContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.ContextInstanceState>> {
        const { slug, instance } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/${core.url.encodePathParam(slug)}/${core.url.encodePathParam(instance)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.ContextInstanceState, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Rulebricks.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/contexts/{slug}/{instance}");
    }

    /**
     * Submit data to a context instance, creating it if it doesn't exist. May trigger bound rule/flow evaluations.
     *
     * @param {Rulebricks.SubmitContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.BadRequestError}
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.submit({
     *         slug: "customer",
     *         instance: "cust-12345",
     *         body: {
     *             "email": "customer@example.com",
     *             "age": 30
     *         }
     *     })
     */
    public submit(
        request: Rulebricks.SubmitContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.SubmitContextDataResponse> {
        return core.HttpResponsePromise.fromPromise(this.__submit(request, requestOptions));
    }

    private async __submit(
        request: Rulebricks.SubmitContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.SubmitContextDataResponse>> {
        const { slug, instance, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/${core.url.encodePathParam(slug)}/${core.url.encodePathParam(instance)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.SubmitContextDataResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Rulebricks.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Rulebricks.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/contexts/{slug}/{instance}");
    }

    /**
     * Delete a specific context instance and its history.
     *
     * @param {Rulebricks.DeleteInstanceContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.deleteInstance({
     *         slug: "customer",
     *         instance: "cust-12345"
     *     })
     */
    public deleteInstance(
        request: Rulebricks.DeleteInstanceContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.DeleteContextInstanceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteInstance(request, requestOptions));
    }

    private async __deleteInstance(
        request: Rulebricks.DeleteInstanceContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.DeleteContextInstanceResponse>> {
        const { slug, instance } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/${core.url.encodePathParam(slug)}/${core.url.encodePathParam(instance)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Rulebricks.DeleteContextInstanceResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Rulebricks.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/contexts/{slug}/{instance}",
        );
    }

    /**
     * Retrieve the change history for a context instance.
     *
     * @param {Rulebricks.GetHistoryContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.getHistory({
     *         slug: "customer",
     *         instance: "cust-12345"
     *     })
     */
    public getHistory(
        request: Rulebricks.GetHistoryContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.ContextInstanceHistory> {
        return core.HttpResponsePromise.fromPromise(this.__getHistory(request, requestOptions));
    }

    private async __getHistory(
        request: Rulebricks.GetHistoryContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.ContextInstanceHistory>> {
        const { slug, instance, field, limit } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (field != null) {
            _queryParams.field = field;
        }

        if (limit != null) {
            _queryParams.limit = limit.toString();
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/${core.url.encodePathParam(slug)}/${core.url.encodePathParam(instance)}/history`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.ContextInstanceHistory, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Rulebricks.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/contexts/{slug}/{instance}/history",
        );
    }

    /**
     * Get list of rules/flows that need to be evaluated for this instance.
     *
     * @param {Rulebricks.GetPendingContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.getPending({
     *         slug: "customer",
     *         instance: "cust-12345"
     *     })
     */
    public getPending(
        request: Rulebricks.GetPendingContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.ContextInstancePendingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getPending(request, requestOptions));
    }

    private async __getPending(
        request: Rulebricks.GetPendingContextsRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.ContextInstancePendingResponse>> {
        const { slug, instance } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/${core.url.encodePathParam(slug)}/${core.url.encodePathParam(instance)}/pending`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Rulebricks.ContextInstancePendingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Rulebricks.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/contexts/{slug}/{instance}/pending",
        );
    }

    /**
     * Execute a specific rule using the context instance's state as input.
     *
     * @param {Rulebricks.SolveContextRuleRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.BadRequestError}
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.solve({
     *         slug: "customer",
     *         instance: "cust-12345",
     *         ruleSlug: "eligibility-check"
     *     })
     */
    public solve(
        request: Rulebricks.SolveContextRuleRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.SolveContextRuleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__solve(request, requestOptions));
    }

    private async __solve(
        request: Rulebricks.SolveContextRuleRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.SolveContextRuleResponse>> {
        const { slug, instance, ruleSlug, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/${core.url.encodePathParam(slug)}/${core.url.encodePathParam(instance)}/solve/${core.url.encodePathParam(ruleSlug)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.SolveContextRuleResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Rulebricks.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Rulebricks.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/contexts/{slug}/{instance}/solve/{ruleSlug}",
        );
    }

    /**
     * Trigger re-evaluation of all bound rules and flows for the instance.
     *
     * @param {Rulebricks.CascadeContextRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.cascade({
     *         slug: "customer",
     *         instance: "cust-12345"
     *     })
     */
    public cascade(
        request: Rulebricks.CascadeContextRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.CascadeContextResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cascade(request, requestOptions));
    }

    private async __cascade(
        request: Rulebricks.CascadeContextRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.CascadeContextResponse>> {
        const { slug, instance, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/${core.url.encodePathParam(slug)}/${core.url.encodePathParam(instance)}/cascade`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.CascadeContextResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Rulebricks.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/contexts/{slug}/{instance}/cascade",
        );
    }

    /**
     * Execute a specific flow using the context instance's state as input.
     *
     * @param {Rulebricks.SolveContextFlowRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Rulebricks.BadRequestError}
     * @throws {@link Rulebricks.NotFoundError}
     * @throws {@link Rulebricks.InternalServerError}
     *
     * @example
     *     await client.contexts.execute({
     *         slug: "customer",
     *         instance: "cust-12345",
     *         flowSlug: "onboarding-flow"
     *     })
     */
    public execute(
        request: Rulebricks.SolveContextFlowRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Rulebricks.SolveContextFlowResponse> {
        return core.HttpResponsePromise.fromPromise(this.__execute(request, requestOptions));
    }

    private async __execute(
        request: Rulebricks.SolveContextFlowRequest,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Rulebricks.SolveContextFlowResponse>> {
        const { slug, instance, flowSlug, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RulebricksEnvironment.Default,
                `contexts/${core.url.encodePathParam(slug)}/${core.url.encodePathParam(instance)}/flows/${core.url.encodePathParam(flowSlug)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Rulebricks.SolveContextFlowResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Rulebricks.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Rulebricks.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Rulebricks.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RulebricksError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/contexts/{slug}/{instance}/flows/{flowSlug}",
        );
    }
}
